<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Posco VST Corp</title>
    <link rel="icon" type="image/png" href="~/media/images/icon/P.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Tooplate" />
    <meta name="viewport" content="width=1208, initial-scale=1" />

    @Styles.Render("~/css/base")
    @Styles.Render("~/css/customs")
    @RenderSection("headerCss", required: false)
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @{Html.RenderAction("Header", "Home");}
    <div style="width:100%;margin:auto;">
        <div style="float:left;" id="left-menu">
            @RenderSection("LeftMenu", required: true)
        </div>
        @RenderBody()
    </div>
    @{Html.RenderAction("Footer", "Home");}
    <!--#region Facebook chat-->
    <script type="text/javascript">
        (function () {
            var options = {
                facebook: "1629986620602076",
                call_to_action: "",
                position: "right",
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!--#endregion-->
    @Scripts.Render("~/js/plugins")
    @Scripts.Render("~/js/customs")
    @RenderSection("footerJs", required: false)
</body>
</html>