@{
    Layout = null;
    ViewBag.Title = "Posco VST Corp";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Posco VST Corp</title>
    <link rel="icon" type="image/png" href="~/media/images/icon/P.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Tooplate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    @Styles.Render("~/css/base")
    @Styles.Render("~/css/customs")
    @Styles.Render("~/css/home")
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @{Html.RenderAction("Header", "Home");}
    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Sturdy And Durable Over Time</h3>
                                <h1>Stainless Steel POSCO VST Vietnam</h1>
                                <a href="application-of-sts.html" class="section-btn btn btn-default btn-gray smoothScroll">Company Profile</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-second">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Meeting Your Life's Needs</h3>
                                <h1>Meet The Needs Of Your Life</h1>
                                <a href="application-of-sts.html" class="section-btn btn btn-default smoothScroll">Production Process</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-third">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Looking After Your Family</h3>
                                <h1>Wide Application In Life</h1>
                                <a href="application-of-sts.html" class="section-btn btn btn-default btn-blue smoothScroll">Participate In Bidding</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer data-stellar-background-ratio="5">
        <div style="width:960px;margin:auto;">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="footer-thumb">
                    <h4 class="wow fadeInUp" data-wow-delay="0.4s">Product of Posco VST</h4>
                    <p class="title-footer" style="font-size:15px"><i class="fa fa-circle-thin" aria-hidden="true"></i> A Kind of Surface</p>
                    <p><a style="font-size:15px" href="production-process-ba.html">&nbsp&nbsp- BA</a></p>
                    <p><a style="font-size:15px" href="production-process-2b.html">&nbsp&nbsp- 2B</a></p>
                    <p class="title-footer" style="font-size:15px"><i class="fa fa-circle-thin" aria-hidden="true"></i> A Kind of Series</p>
                    <p><a style="font-size:15px" href="304cu.html">&nbsp&nbsp- 304</a>, <a style="font-size:15px" href="301cu.html">301</a>, <a style="font-size:15px" href="316316l.html">316L</a></p>
                    <p><a style="font-size:15px" href="#">&nbsp&nbsp- 201</a></p>
                    <p><a style="font-size:15px" href="430.html">&nbsp&nbsp- 430</a>, <a style="font-size:15px" href="409l/html">409L</a>, <a style="font-size:15px" href="439430lx">439</a>...</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="footer-thumb">
                    <h4 class="wow fadeInUp" data-wow-delay="0.4s">Stainless Guide</h4>
                    <div style="font-size:15px">
                        <p class="title-footer"><i class="fa fa-circle-thin" aria-hidden="true"></i> <a style="font-size:15px" href="stainless-steel-guidebook.html">Stainless Guide Book</a></p>
                        <p class="title-footer"><i class="fa fa-circle-thin" aria-hidden="true"></i> <a style="font-size:15px" href="corrosion.html">Corrosion</a></p>
                        <p class="title-footer"><i class="fa fa-circle-thin" aria-hidden="true"></i> <a style="font-size:15px" href="welding.html">Welding</a></p>
                        <p><a style="font-size:15px" href="#">&nbsp&nbsp- 201</a></p>
                        <p><a style="font-size:15px" href="about-445nf.html">&nbsp&nbsp- 430, 409, 439L...</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="footer-thumb">
                    <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact</h4>
                    <div class="opening-hours">
                        <p class="title-footer" style="font-size:15px"><i class="fa fa-circle-thin" aria-hidden="true"></i> Phone:<span> 0251-3560-360 </span></p>
                        <p class="title-footer" style="font-size:15px"><i class="fa fa-circle-thin" aria-hidden="true"></i> E-mail:<span> tran.trinh@posco.net </span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="clearfix"></div>
    @{Html.RenderAction("CoporateCitizenImageSlide", "Home");}

    <div id="sub-footer" class="container">
        <div class="col-md-12 col-sm-12 border-top">
            <div class="col-md-12 col-sm-12">
                <div class="footer-link" align="left" style="float:left">
                    <p>Total Visitors: @ApplicationInstance.Application["TotalUser"] | Online Visitors: @ApplicationInstance.Application["OnlineUser"]</p>
                </div>
                <div class="footer-link" align="right">
                    <p>Copyright &copy; 2020 POSCO ICT VN</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 text-align-center" align="center">
                <div class="angle-up-btn">
                    <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="0.3s"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--#region Facebook chat-->
    <script type="text/javascript">
        (function () {
            var options = {
                facebook: "1629986620602076",
                call_to_action: "",
                position: "right",
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!--#endregion-->

    @Scripts.Render("~/js/plugins")
    @Scripts.Render("~/js/customs")
    @Scripts.Render("~/js/home")
</body>
</html>