<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin</title>
    <link rel="icon" type="image/png" href="~/images/icon/P.png" />
    @Styles.Render("~/css/admin")
    <style>
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }

        .jumbotron {
            /*margin-bottom: 0;*/
            margin: auto;
        }

        footer {
            background-color: #f2f2f2;
            padding: 25px;
            margin-top: 20px;
        }

        .navbar-nav {
            font-size: 12px;
            font-weight: bold;
        }

        #header {
            position: relative;
            color: white;
            font-size: 30px;
            background-color: #00bcd4;
            background-image: url('/images/icon/bg.png');
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>

    @RenderSection("headerCss", required: false)
</head>
<body>
    <div class="text-center" id="header">
        <strong>POSCO VST Admin Page</strong>
    </div>

    <nav class="navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="~/index.html"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li id="recruitment-mn"><a href="/admin/recruitment" title="Recruitment">Recruitment</a></li>
                <li id="ssg-mn"><a href="/admin/StanlessSteelGuidebook" title="Stanless Steel Guidebook">Stanless Steel Guidebook</a></li>
                <li id="corrosion-mn"><a href="/admin/Corrosion" title="Corrosion">Corrosion</a></li>
                <li id="welding-mn"><a href="/admin/Welding" title="Welding">Welding</a></li>
                <li id="forming-mn"><a href="/admin/Forming" title="Forming">Forming</a></li>
                <li id="wti-mn"><a href="/admin/WaterTankIndustry" title="Water tank industry">Water tank industry</a></li>
                <li id="445nf-mn"><a href="/admin/About445NF" title="445NF">445NF</a></li>
                <li id="news"><a href="/admin/NewsInfomation" title="News & Infomation">News & Infomation</a></li>
                <li id="coporate"><a href="/admin/CoporateCitizen" title="Coporate Citizen">Coporate Citizen</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.IsInRole("Admin"))
                {
                    <li id="create-user-mn"><a href="/admin/userlogin/createuser"><span class="glyphicon glyphicon-user"></span>Create User</a></li>
                }
                <li id="change-password-mn"><a href="/admin/userlogin/changepassword"><span class="glyphicon glyphicon-user"></span>Change password</a></li>
                <li><a href="/admin/userlogin/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer class="container-fluid text-center">
        Copyright &copy; 2020 POSCO ICT VN
    </footer>
    @Scripts.Render("~/js/admin")
    <script>
        $(".table").addClass("table-hover table-bordered");
        $(".table").DataTable();
        $("#@ViewBag.Active-mn").addClass("active");
    </script>
    @RenderSection("footerJs", required: false)
</body>
</html>